.root {
  padding: 0 20px 40px;
  background-color: #fff;
}

.text {
  margin: 0;
  font-family: inherit;
}

.root :global(.textDark),
.root :global(.textLg) {
  font-size: 1.125rem;
}

@media (max-width: 900px) {
  .root {
    padding: 0 16px 32px;
  }
}

@media (max-width: 768px) {
  .root :global(.textDark),
  .root :global(.textLg) {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .root {
    padding: 0 12px 24px;
  }
}
