/* Footer component-specific styles */
.root {
  min-height: 400px;
  margin-top: auto;
  background-color: #96695E;
  padding: 60px 0 20px 0;
  color: var(--color-light);
}
.locations {
  margin-bottom: 32px;
}
.locationCard {
  background-color: #FFF6F2 !important;
  color: #2C1E1B;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.locationCard :global(.textLight) {
  color: #2C1E1B !important;
}
.locationCard:hover {
  transform: translateY(-4px);
}

.locationImage {
  border-bottom: 1px solid #96695E;
}
